/* .about_me{
    background: linear-gradient(0deg, #430A5D 10%,#191825 50%);
    
} */
.section{
    margin: 95px ;
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.profile{
    height:400px;
    width: 280px;
    object-fit: cover;  
    /* border: 5px solid #fff;  */
    border-radius: 30px;
    box-shadow: 0 0 10px #430A5D;

}
.about-me_pic {
    width: 700px;       
    height: 400px;        
    border: 2px solid #fff;
    box-shadow: 0 0 30px #430A5D; 
    border-radius: 30px;
    opacity: 0.5;
}

.about_me p {
    position: absolute;
    top: 130%;
    left: 40%;
    color: white; /* Text color */
    font-size: 18px; /* Text size */ /* Text weight */
    text-shadow: 2px 2px 4px #000000; /* Text shadow for better readability */
    width: 48%;
    word-wrap: break-word;
    white-space: normal;
}
