#image{
    width: 400px;
    height: 400px;
    object-fit: cover;
}

@media(max-width:768px){
    #image{
        border-radius: 20px;
        object-fit: cover; 
        width: 300px;
        height: 300px;
    }
}